
body{
    background-color: rgb(8, 4, 56);
}
.container-login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.form-login{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.form-login input{
    width: 100%;
}
h3{
    color: rgb(8, 4, 56); 
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
input[type=text],
input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid rgb(206, 204, 204);
    margin: 10px 0;
}
button[type=submit]{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(8, 4, 56);
    color: white;
    border: 0;
    border-radius: 20px;
    transition: 1s;
    
}
input[type=submit]:hover{
    background-color:  rgb(4, 2, 32);
}
.email{
    margin-right: 50px;
}